# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Set default spacing options
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Specify Kotlin files with specific code style rules
[*.{kt,kts}]
# Exclude specific KtLint rules
ktlint_disabled_rules = trailing-comma, import-ordering
